<div class="page-content">
    <div class="row" id="transfer">
        <div class="col-12 col-xl-12 stretch-card">
            <div class="row flex-grow justify-content-center">
                <div class="col-12 col-md-12 col-lg-8 col-xl-6 grid-margin stretch-card">
                    <div class="card" style="border: 2px solid #e8ebf1;border-radius: 30px;">
                        <div class="card-body">

                            <div style="float:center; margin-left: 25%; width: 50%;margin-top: -10px;">
                                <h2 style="color: red;width: 400px; margin-left:-60px;">User account is saved</h2>
                                <hr />
                            </div>
                            <h6 class="text-center">number Account :{{ detail }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>